[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
boto3 = "*"
mysql-connector-python = "*"
flask-socketio = "*"
gunicorn = "*"
eventlet = "==0.30.2"
pyjwt = "*"
requests = "*"
shortuuid = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.8"
