[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
boto3 = "*"
mysql-connector-python = "*"
flask-socketio = "*"
gunicorn = "*"
pyjwt = "*"
requests = "*"
shortuuid = "*"
redis = "*"
celery = "*"
beautifulsoup4 = "*"
pymongo = "*"
gevent = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
